/*
#B74828 - Sienna
#302114 - Dark Olive Green
#C4A67C - Light Khaki
#967451 - Dark Khaki
#6F4F33 - Olive Brown



*/


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    /* text-shadow: 1px 1px white, 2px 2px 5px black; */
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: slategray;
    background-image: url('../img/bar.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: -150px;
    background-repeat: no-repeat;
}

nav {
    background-color:rgba(48, 33, 20, 0.803);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: blanchedalmond;
}

.addItemNavButton {
    font-size: 1.5rem;
    padding: 10px 30px;
    border: 5px solid #967451;
    border-radius: 10px;
    opacity: .8;
    transition: opacity .2s;
}

.navItems a:hover {
    opacity: 1;
    box-shadow: 2px 2px 5px 0 gray;
}

.container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container h2 {
    color: blanchedalmond;
}
.songList {
    background-color: rgba(46, 32, 19, 0.561);
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 1.3rem;
    width: 70%;
}
.songList p {
    margin: 3px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(48, 33, 20, 0.521);
    width: 650px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0 black;
    color: blanchedalmond;
}

form h3 {
    font-size: 1.3rem;
}

.formLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form input[type='text'] {
    height: 40px;
    width: 300px;
    border: 3px solid #967451;
    border-radius: 10px;
    outline: none;
    padding: 0 5px;
    font-size: 1rem;
}

form input[type='number'] {
    height: 40px;
    width: 60px;
    border: 3px solid slategray;
    border-radius: 10px;
    outline: none;
    padding: 0 5px;
    font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radios {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.radios p {
    margin: 0 10px;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

input[type='submit'], .delete {

    cursor: pointer;    
    align-self: flex-end;
    color: #302114;
    font-size: 1.2rem;
    padding: 5px 20px;
    border: 2px solid #967451;
    border-radius: 10px;
    transition: opacity .2s;
    background-color: blanchedalmond;
}
textarea {
    height: 80px;
    width: 300px;
    border: 3px solid #967451;
    border-radius: 10px;
    outline: none;
    padding: 0 5px;
    font-size: 1rem;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #302114;
    color: blanchedalmond;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    list-style: none;
    border: 5px solid #967451;
    border-radius: 10px;
}

.listLine {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #967451;
    color: blanchedalmond;
}

.listLine a {
    margin: 5px 10px;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #B74828;
    border-radius: 5px;
    background-color: rgba(46, 32, 19, 0.904)
}

.listLine p {
    padding: 0 10px;
}

.listId {
    flex-basis: 10%;

}

.listTitle, .listAuthor {
    flex-basis: 45%;
}
.listHeader {
    font-size: 2rem !important;
}
#play {
    color: blanchedalmond;
}
.songWindow {
    background-color: rgba(48, 33, 20, 0.521);
    display: flex;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px; 
    font-size: 1.3rem;   
}
iframe {
   border: 5px solid blanchedalmond;
   margin-right: 20px; 
   border-radius: 5px;
}